<div class="topnav" id="navbar">
  <a href="#" class="brand" routerLink="/" routerLinkActive="active" (click)="closeDropdown()">Debt Calculator</a>
  <a class="link special" style="padding: 0px"></a>
  <a id="link1" href="#" class="link" routerLink="/personal" routerLinkActive="active" (click)="closeDropdown()">Profile</a>
  <a id="link2" href="#" class="link" routerLink="/debt" routerLinkActive="active" (click)="closeDropdown()">Debts</a>
  <a id="link3" href="#" class="link" routerLink="/opportunity" routerLinkActive="active" (click)="closeDropdown()">Opportunities</a>
  <a id="link4" href="#" class="link" routerLink="/results" routerLinkActive="active" (click)="closeDropdown()">Results</a>
  <a id="link5" href="#" class="link" routerLink="/info" routerLinkActive="active" (click)="closeDropdown()">How It Works</a>
  <div *ngIf="!this.auth.isLoggedIn()">
    <a style="padding: 0px; height: 0px"></a>
    <a class="link" href="#" routerLink="/signin" routerLinkActive="active" (click)="closeDropdown()">Sign In</a>
  </div>
  <div *ngIf="this.auth.isLoggedIn()">
    <a style="padding: 0px; height: 0px"></a>
    <a class="link" href="#" (click)="signout()">Sign Out</a>
  </div>
  <a href="javascript:void(0);" style="font-size:26px;" class="icon" (click)="responsive()">&#9776;</a>
</div>
