<div class="mdc-typography mdc-typography--body1">
  <div class="cen container-fluid mat-elevation-z2">
    <div class="example-container" style="margin: 0px 50px">
      <h1 class="mdc-typography--headline1" style="text-align: center; margin-top: 10px">Profile</h1>
      <form class="ex1" [formGroup]="profileFormProfile" (ngSubmit)="onSubmitProfile()">
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Your rent">
              <input matInput type="number" class="form-control" formControlName="rent" placeholder="Current rent, if any"
              #rent [(ngModel)] = "currProfile.rent">
              <mat-label><mat-icon>monetization_on</mat-icon></mat-label>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Your monthly spending">
              <input matInput type="number" class="form-control" formControlName="spending" placeholder="Current spending monthly"
              #spending [(ngModel)] = "currProfile.spending">
              <mat-label><mat-icon>monetization_on</mat-icon></mat-label>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Your dependents">
              <input matInput type="number" class="form-control" size="56" formControlName="dependents" placeholder="How many dependents"
              #dependents [(ngModel)] = "currProfile.dependents">
              <mat-label><mat-icon>people</mat-icon></mat-label>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Your pets">
              <input matInput type="number" class="form-control" size="56" formControlName="pets" placeholder="How many pets, if any"
              #pets [(ngModel)] = "currProfile.pets">
              <mat-label><mat-icon>favorite_border</mat-icon></mat-label>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="State">
              <mat-select class="form-control" formControlName="state" (selectionChange)="stateChangeAction(state._value)"
              #state [(ngModel)] = "currProfile.state">
                <mat-option value="" selected>Select an option</mat-option>
                <mat-option *ngFor="let state of stateList" [value]="state.stateCode">{{state.stateName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Region">
              <mat-select class="form-control" formControlName="region"
              #region [(ngModel)] = "currProfile.region">
                <mat-option value="" selected>Select an option</mat-option>
                <mat-option *ngFor="let region of regionList" [value]="region.regionCode">{{region.regionName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row" style="margin-right: 0px">
          <button style="left: calc(100% - 121px)" type="submit"
          [disabled]="!profileFormProfile.valid" mat-raised-button>Submit Profile</button>
        </div>
      </form>
    </div>
  </div>
  <br>
  <br>
</div>
