<div class="mdc-typography mdc-typography--body1">
  <div class="cen container-fluid mat-elevation-z2">
    <div class="example-container" style="margin: 0px 50px">
      <h1 class="mdc-typography--headline1" style="text-align: center; margin-top: 10px; margin-bottom: 20px">Edit Opportunity</h1>
      <form class="ex1" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group row" style="padding-left: 15px; padding-right: 15px">
          <mat-form-field appearance="standard" hintLabel="Opportunity Name">
            <input matInput type="text" class="form-control" formControlName="name" placeholder="Name this opportunity"
            #name [(ngModel)] = "opportunity.name">
          </mat-form-field>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="City">
              <input matInput type="text" class="form-control" formControlName="city" placeholder="Location of this opportunity"
              #city [(ngModel)] = "opportunity.city">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="State">
              <mat-select class="form-control" formControlName="state" placeholder="Select an option" (selectionChange)="stateChangeAction(state._value)"
              #state [(ngModel)] = "opportunity.state">
                <mat-option *ngFor="let state of stateList" [value]="state.stateCode">{{state.stateName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Opportunity Yearly After-Tax Income">
              <input matInput type="number" class="form-control" formControlName="income" placeholder="Projected income earned"
              #income [(ngModel)] = "opportunity.income">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Region">
              <mat-select class="form-control" formControlName="region" placeholder="Select an option"
              #region [(ngModel)] = "opportunity.region">
                <mat-option *ngFor="let region of regionList" [value]="region.regionCode">{{region.regionName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Principal Amount">
              <input matInput type="number" class="form-control" formControlName="principal" placeholder="Initial loan amount"
              #principal [(ngModel)] = "opportunity.principal">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Yearly Rate (APR or APY)">
              <input matInput type="number" class="form-control" formControlName="rate" placeholder="Interest rate of loan source"
              #rate [(ngModel)] = "opportunity.rate">
              <span matSuffix>&nbsp;%</span>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Compound Frequency (Enter 0 for Simple Interest)">
              <input matInput type="number" class="form-control" formControlName="annualCompounds" placeholder="Times per year that interest is compounded"
              #annualCompounds [(ngModel)] = "opportunity.annualCompounds">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Monthly Payment">
              <input matInput type="number" class="form-control" formControlName="monthlyPayment" placeholder="Payment made each month"
              #monthlyPayment [(ngModel)] = "opportunity.monthlyPayment">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Opportunity Type">
              <mat-select class="form-control" formControlName="type"
              #type [(ngModel)] = "opportunity.type">
                <mat-option value="job">Job</mat-option>
                <mat-option value="grad_school">Graduate School</mat-option>
                <mat-option value="self_employ">Self-Employment</mat-option>
                <mat-option value="volunteer">Volunteering</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Relocation Required?">
              <mat-select class="form-control" formControlName="move"
              #move [(ngModel)] = "opportunity.move">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <button type="submit" mat-raised-button [disabled]="!profileForm.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <br>
</div>
