<div class="container-fluid">
  <div class="row-fluid" style="margin-left: 50px; margin-right: 50px; background-color: white">
    <h1 class="text-center" style="padding-top: 15px; margin-bottom: 20px">Opportunity Comparison</h1>
    <form class="ex1" style="margin-right: 25px" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <div class="form-group row">
          <label class="col-md-4">Opportunity Type:</label>
          <span class="col-md-4">
            <input required type="radio" formControlName="type" id="customRadio1" value="job" name="type" class="custom-control-input"
            #type [(ngModel)] = "opportunity.type">
            <label class="custom-control-label" for="customRadio1">Job</label>
          </span>
          <span class="col-md-4">
            <input required type="radio" formControlName="type" id="customRadio2" value="grad_school" name="type" class="custom-control-input"
            #type [(ngModel)] = "opportunity.type">
            <label class="custom-control-label" for="customRadio2">Graduate School</label>
          </span>
        </div>
        <div class="form-group row" style="padding-left: 15px; padding-right: 15px">
          <label>Opportunity Name:</label>
          <input required type="text" class="form-control" size="55" formControlName="oppName" placeholder="Give the opportunity a name"
          #oppName [(ngModel)] = "opportunity.oppName">
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label>City:</label>
            <input required type="text" class="form-control" size="55" formControlName="cityName" placeholder="City the opportunity is in"
            #cityName [(ngModel)] = "opportunity.cityName">
          </div>
          <div class="col-md-6">
            <label>State:</label>
            <select required id="state_dropdown" class="form-control" formControlName="stateName"
            #stateName [(ngModel)] = "opportunity.stateName">
              <option value="">Select an option</option>
              <option value="AK">Alaska</option>
              <option value="AL">Alabama</option>
              <option value="AR">Arkansas</option>
              <option value="AZ">Arizona</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DC">District of Columbia</option>
              <option value="DE">Delaware</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="IA">Iowa</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="MA">Massachusetts</option>
              <option value="MD">Maryland</option>
              <option value="ME">Maine</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MO">Missouri</option>
              <option value="MS">Mississippi</option>
              <option value="MT">Montana</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="NE">Nebraska</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NV">Nevada</option>
              <option value="NY">New York</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="PR">Puerto Rico</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VA">Virginia</option>
              <option value="VT">Vermont</option>
              <option value="WA">Washington</option>
              <option value="WI">Wisconsin</option>
              <option value="WV">West Virginia</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
        </div>
        <div class="form-group row" style="padding-left: 15px; padding-right: 15px">
          <label>Region:</label>
          <select required id="region_dropdown" class="form-control" formControlName="code"
          #code [(ngModel)] = "opportunity.code">
            <option value="">Please select the state of this opportunity first</option>
          </select>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label>Opportunity Income:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input required type="number" class="form-control" formControlName="oppCost" placeholder="Projected opportunity income"
              #oppCost [(ngModel)] = "opportunity.oppCost">
            </div>
          </div>
          <div class="col-md-6">
            <label>Opportunity Debt:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input required type="number" class="form-control" formControlName="oppDebt" placeholder="Projected opportunity debt"
              #oppDebt [(ngModel)] = "opportunity.oppDebt">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-6">Would this opportunity require you to move your primary residence?</label>
          <div class="col-md-6 btn-group btn-group-toggle" ngbRadioGroup name="residence" formControlName="move">
            <label ngbButtonLabel class="btn btn-primary">
              <input required ngbButton type="radio" formControlName="move" value="Yes"
              #move [(ngModel)] = "opportunity.move"> Yes
            </label>
            <label ngbButtonLabel class="btn btn-primary">
              <input required ngbButton type="radio" formControlName="move" value="No"
              #move [(ngModel)] = "opportunity.move"> No
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Update</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
