<div class="ex2">
  <img src="assets/homepage.jpg" alt="Debt Calculator Logo"/> <!--Root is from client/src in dev, but maybe from client in prod  -->
</div>
<div class="container ex1">
  <div class="row">
    <div class="col">
      <a class="nav-link" href="#" routerLink="/register" routerLinkActive="active"><button type="button" class="btn btn-primary">Register</button></a>
    </div>
    <div class="col">
      <a class="nav-link" href="#" routerLink="/personal" routerLinkActive="active"><button type="button" class="btn btn-primary">Get Started</button></a>
    </div>
  </div>
</div>
