<form class="ex1" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Opportunity Comparison</legend>
    <div class="form-group">
        <label class="col-sm-2 col-form-label">
          Type of Opportunity:
        </label>
        <div class="custom-control custom-radio">
          <input required type="radio" formControlName="type" id="customRadio1" value="job" name="type" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">Job</label>
        </div>
        <div class="custom-control custom-radio">
          <input required type="radio" formControlName="type" id="customRadio2" value="grad_school" name="type" class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">Graduate School</label>
        </div>
    </div>

    <div class="form-group">
        <label>
          Opportunity Name:
          <input required type="text" class="form-control" size="55" formControlName="oppName" placeholder="Give the opportunity a name">
        </label>
    </div>

    <div class="form-group row">
      <div class = "col-sm-5">
        <label>
          City:
          <input required type="text" class="form-control" size="55" formControlName="cityName" placeholder="City the opportunity is in">
        </label>
      </div>
    </div>

    <div class="form-group row">
      <div class = "col-sm-5">
        <label>
          Opportunity Income:
        </label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input required type="number" class="form-control" formControlName="oppCost" placeholder="Projected opportunity income">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class = "col-sm-5">
        <label>
          Opportunity Debt:
        </label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input required type="number" class="form-control" formControlName="oppDebt" placeholder="Projected opportunity debt">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class = "col-sm-5">
        <label>
          Would this opportunity require you to move your primary residence?:
        </label>
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="residence" formControlName="move">
          <label ngbButtonLabel class="btn btn-primary">
            <input required ngbButton type="radio" formControlName="move" value="Yes"> Yes
          </label>
          <label ngbButtonLabel class="btn btn-primary">
            <input required ngbButton type="radio" formControlName="move" value="No"> No
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Add opportunity</button>
  </fieldset>
</form>
<p>&nbsp;</p>
<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col">City</th>
    <th scope="col">Cost</th>
    <th scope="col">Debt</th>
    <th scope="col">Relocate</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
</thead>
<tbody>
    <tr class="table-info" *ngFor="let opportunity of opportunities">
        <th scope="row">{{ opportunity.oppName }}</th>
        <td>{{ opportunity.type }}</td>
        <td>{{ opportunity.cityName }}</td>
        <td>{{ opportunity.oppCost }}</td>
        <td>{{ opportunity.oppDebt }}</td>
        <td>{{ opportunity.move }}</td>
        <td><a [routerLink]="[opportunity._id]" class="btn btn-secondary">Edit</a></td>
        <td><a (click) = "deleteOpportunity(opportunity._id)" class="btn btn-danger">Delete</a></td>
    </tr>
</tbody>
</table>
