<div class="container-fluid">
  <div class="row-fluid" style="margin-left: 50px; margin-right: 50px; background-color: white">
    <h1 class="text-center" style="padding-top: 15px; margin-bottom: 20px">Opportunity Comparison</h1>
    <form class="ex1" style="margin-right: 25px" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <div class="form-group row">
          <label class="col-md-4">Opportunity Type:</label>
          <span class="col-md-4">
            <input required type="radio" formControlName="type" id="customRadio1" value="job" name="type" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">Job</label>
          </span>
          <span class="col-md-4">
            <input required type="radio" formControlName="type" id="customRadio2" value="grad_school" name="type" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">Graduate School</label>
          </span>
        </div>
        <div class="form-group row" style="padding-left: 15px; padding-right: 15px">
          <label>Opportunity Name:</label>
          <input required type="text" class="form-control" size="55" formControlName="name" placeholder="Give the opportunity a name">
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label>City:</label>
            <input required type="text" class="form-control" size="55" formControlName="city" placeholder="City the opportunity is in">
          </div>
          <div class="col-md-6">
            <label>State:</label>
            <select required id="state_dropdown" class="form-control" formControlName="state">
              <option value="">Select an option</option>
              <option value="AK">Alaska</option>
              <option value="AL">Alabama</option>
              <option value="AR">Arkansas</option>
              <option value="AZ">Arizona</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DC">District of Columbia</option>
              <option value="DE">Delaware</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="IA">Iowa</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="MA">Massachusetts</option>
              <option value="MD">Maryland</option>
              <option value="ME">Maine</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MO">Missouri</option>
              <option value="MS">Mississippi</option>
              <option value="MT">Montana</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="NE">Nebraska</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NV">Nevada</option>
              <option value="NY">New York</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="PR">Puerto Rico</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VA">Virginia</option>
              <option value="VT">Vermont</option>
              <option value="WA">Washington</option>
              <option value="WI">Wisconsin</option>
              <option value="WV">West Virginia</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
        </div>
        <div class="form-group row" style="padding-left: 15px; padding-right: 15px">
          <label>Region:</label>
          <select required id="region_dropdown" class="form-control" formControlName="region">
            <option value="">Please select the state of this opportunity first</option>
          </select>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label>Opportunity Income:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" class="form-control" formControlName="income" placeholder="Projected opportunity income">
            </div>
          </div>
          <div class="col-md-6">
            <label>Opportunity Principal:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" class="form-control" formControlName="principal" placeholder="Projected opportunity principal">
            </div>
          </div>
          <div class="col-md-6">
            <label>Opportunity Rate:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" class="form-control" formControlName="rate" placeholder="Projected opportunity rate">
            </div>
          </div>
          <div class="col-md-6">
            <label>Opportunity annualCompounds:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" class="form-control" formControlName="annualCompounds" placeholder="Projected opportunity annualCompounds">
            </div>
          </div>
          <div class="col-md-6">
            <label>Opportunity monthlyPayment:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" class="form-control" formControlName="monthlyPayment" placeholder="Projected opportunity monthlyPayment">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-6">Would this opportunity require you to move your primary residence?</label>
          <div class="col-md-6 btn-group btn-group-toggle" ngbRadioGroup name="residence" formControlName="move">
            <label ngbButtonLabel class="btn btn-primary">
              <input required ngbButton type="radio" formControlName="move" value="Yes"> Yes
            </label>
            <label ngbButtonLabel class="btn btn-primary">
              <input required ngbButton type="radio" formControlName="move" value="No"> No
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Add opportunity</button>
          </div>
          <div class="col">
            <a class="nav-link text-right" href="#" routerLink="/results" routerLinkActive="active" style="padding-top: 0px; padding-right: 0px"><button type="button" class="btn btn-primary">See Results</button></a>
          </div>
        </div>
      </fieldset>
    </form>
    <!-- <p>&nbsp;</p> -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Income</th>
          <th scope="col">Relocate</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info" *ngFor="let opportunity of opportunities">
          <th scope="row">{{ opportunity.name }}</th>
          <td>{{ opportunity.type }}</td>
          <td>{{ opportunity.city }}</td>
          <td>{{ opportunity.state }}</td>
          <td>{{ opportunity.income }}</td>
          <td>{{ opportunity.move }}</td>
          <td><a [routerLink]="['/edit',opportunity._id]" class="btn btn-secondary">Edit</a></td>
          <td><a (click) = "deleteOpportunity(opportunity._id)" class="btn btn-danger">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
