<div class="mdc-typography mdc-typography--body1">
  <div class="cen container-fluid mat-elevation-z2">
    <div class="example-container" style="margin: 0px 50px">
      <h1 class="mdc-typography--headline1" style="text-align: center; margin-top: 10px; margin-bottom: 20px">Opportunities</h1>
      <form class="ex1" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group row" style="padding-left: 15px; padding-right: 15px">
          <mat-form-field appearance="standard" hintLabel="Opportunity Name">
            <input matInput type="text" class="form-control" formControlName="name" placeholder="Name this opportunity">
          </mat-form-field>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <mat-form-field appearance="standard" hintLabel="City">
              <input matInput type="text" class="form-control" formControlName="city" placeholder="Location of this opportunity">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="standard" hintLabel="State">
              <mat-select class="form-control" formControlName="state" placeholder="Select an option" (selectionChange)="stateChangeAction(this.profileForm.value.state)">
                <mat-option *ngFor="let state of stateList" [value]="state.stateCode">{{state.stateName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="standard" hintLabel="Region">
              <mat-select class="form-control" formControlName="region" placeholder="Select an option">
                <mat-option *ngFor="let region of regionList" [value]="region.regionCode">{{region.regionName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Opportunity Yearly After-Tax Income">
              <input matInput type="number" class="form-control" formControlName="income" placeholder="Projected income earned" onkeydown="return (event.key !== 'e' && event.key !== '-' && event.key !== '.')">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Opportunity One-Time Bonus">
              <input matInput type="number" class="form-control" formControlName="bonus" placeholder="Bonus income, if applicable" onkeydown="return (event.key !== 'e' && event.key !== '-' && event.key !== '.')">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
        </div>
        <!-- <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Principal Amount">
              <input matInput type="number" class="form-control" formControlName="principal" placeholder="Initial loan amount" onkeydown="return (event.key !== 'e' && event.key !== '-' && event.key !== '.')">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Yearly Rate (APR)">
              <input matInput matTooltip="For example, if your loan has an APR of 10 percent, you pay $10 per $100 you borrow annually."
               type="number" class="form-control" formControlName="rate"
               placeholder="Interest rate of loan source" onkeydown="return (event.key !== 'e' && event.key !== '-')">
              <span matSuffix>&nbsp;%</span>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Compound Frequency (Enter 0 for Simple Interest)">
              <input matInput matTooltip="For example, enter 12 if the interest is compounded monthly."
               type="number" class="form-control" formControlName="annualCompounds"
               placeholder="Times per year that interest is compounded" onkeydown="return (event.key !== 'e' && event.key !== '-' && event.key !== '.')">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Monthly Payment">
              <input matInput type="number" class="form-control" formControlName="monthlyPayment" placeholder="Payment made each month" onkeydown="return (event.key !== 'e' && event.key !== '-' && event.key !== '.')">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
        </div> -->
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Type of Opportunity">
              <mat-select class="form-control" formControlName="type" placeholder="Select an option">
                <mat-option value="job">Job</mat-option>
                <mat-option value="grad_school">Graduate School</mat-option>
                <mat-option value="self_employ">Self-Employment</mat-option>
                <mat-option value="volunteer">Volunteering</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Relocation Required?">
              <mat-select class="form-control" formControlName="move" placeholder="Will this opportunity required you to move?">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <button type="submit" mat-raised-button [disabled]="!isValid()" style="left: calc(100% - 147px)">Add opportunity</button>
        </div>
      </form>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z2"*ngIf="opportunities && opportunities.length">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let opportunity"> {{opportunity.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="city">
          <mat-header-cell style="margin-left: 10px" *matHeaderCellDef> City </mat-header-cell>
          <mat-cell style="margin-left: 10px" *matCellDef="let opportunity"> {{opportunity.city}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="state">
          <mat-header-cell style="margin-left: 10px" *matHeaderCellDef> State </mat-header-cell>
          <mat-cell style="margin-left: 10px" *matCellDef="let opportunity"> {{opportunity.state}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="income">
          <mat-header-cell *matHeaderCellDef> Income </mat-header-cell>
          <mat-cell *matCellDef="let opportunity"> {{this.auth.formatMoney(opportunity.income, false)}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
          <mat-cell *matCellDef="let opportunity"><a [routerLink]="['/edit',opportunity._id]">
          <button mat-icon-button><mat-icon>create</mat-icon></button></a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
          <mat-cell *matCellDef="let opportunity"><a (click) = "deleteOpportunity(opportunity._id)">
          <button mat-icon-button><mat-icon>delete</mat-icon></button></a></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
  <br>
  <br>
</div>
