<div class="mdc-typography mdc-typography--body1">
  <div class="cen container-fluid mat-elevation-z2">
    <div class="example-container" style="margin: 0px 50px">
      <h1 class="mdc-typography--headline1" style="text-align: center; margin-top: 10px">Edit Debt</h1>
      <form class="ex1"[formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group row" style="width: 100%">
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Your principal">
              <input matInput required type="number" class="form-control" size="56" formControlName="principal" placeholder="What principal"
              #principal [(ngModel)] = "debt.principal">
              <mat-label><mat-icon>money</mat-icon></mat-label>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Your rate">
              <input matInput required type="number" class="form-control" size="56" formControlName="rate" placeholder="What rate"
              #rate [(ngModel)] = "debt.rate">
              <mat-label><mat-icon>transform</mat-icon></mat-label>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row" style="width: 100%">
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Your annualCompounds">
              <input matInput required type="number" class="form-control" size="56" formControlName="annualCompounds" placeholder="What annualCompounds"
              #annualCompounds [(ngModel)] = "debt.annualCompounds">
              <mat-label><mat-icon>show_chart</mat-icon></mat-label>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="standard" hintLabel="Your monthlyPayment">
              <input matInput required type="number" class="form-control" size="56" formControlName="monthlyPayment" placeholder="What monthlyPayment"
              #monthlyPayment [(ngModel)] = "debt.monthlyPayment">
              <mat-label><mat-icon>money_off</mat-icon></mat-label>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <button type="submit" mat-raised-button style="color: white; background-color: #78C2AC" [disabled]="!profileForm.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <br>
</div>
