<div class="mdc-typography mdc-typography--body1">
  <div class="cen container-fluid mat-elevation-z2">
    <div class="example-container" style="margin: 0px 50px">
      <h1 class="mdc-typography--headline1" style="text-align: center; margin-top: 10px">Edit Debt</h1>
      <form class="ex1"[formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group row" style="padding-left: 15px; padding-right: 15px">
          <mat-form-field appearance="standard" hintLabel="Debt Name">
            <input matInput type="text" class="form-control" formControlName="name" placeholder="Name this debt"
            #name [(ngModel)] = "debt.name">
          </mat-form-field>
        </div>
        <div class="form-group row" style="padding-left: 15px; padding-right: 15px">
          <div class="col-md-6" style="padding-left: 0px">
            <mat-form-field appearance="standard" hintLabel="Principal Amount">
              <input matInput type="number" class="form-control" size="56" formControlName="principal" placeholder="Initial debt amount"
              #principal [(ngModel)] = "debt.principal">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
          <div class="col-md-6" style="padding-right: 0px">
            <mat-form-field appearance="standard" hintLabel="Yearly Rate (APR or APY)">
              <input matInput type="number" class="form-control" size="56" formControlName="rate" placeholder="Interest rate of debt source"
              #rate [(ngModel)] = "debt.rate">
              <span matSuffix>&nbsp;%</span>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row" style="padding-left: 15px; padding-right: 15px">
          <div class="col-md-6" style="padding-left: 0px">
            <mat-form-field appearance="standard" hintLabel="Compound Frequency (Enter 0 for Simple Interest)">
              <input matInput type="number" class="form-control" size="56" formControlName="annualCompounds" placeholder="Times per year that interest is compounded"
              #annualCompounds [(ngModel)] = "debt.annualCompounds">
            </mat-form-field>
          </div>
          <div class="col-md-6" style="padding-right: 0px">
            <mat-form-field appearance="standard" hintLabel="Monthly Payment">
              <input matInput type="number" class="form-control" size="56" formControlName="monthlyPayment" placeholder="Payment made each month"
              #monthlyPayment [(ngModel)] = "debt.monthlyPayment">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <button type="submit" mat-raised-button [disabled]="!profileForm.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <br>
</div>
