<div class="mdc-typography mdc-typography--body1">
  <div class="cen container-fluid mat-elevation-z2">
    <div class="example-container" style="margin: 0px 50px">
      <h1 class="mdc-typography--headline1" style="text-align: center; margin-top: 10px; margin-bottom: 20px">Sign In</h1>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Not a member? Please <a routerLink="/register">register</a> instead.</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="ex1" [formGroup]="profileForm" (ngSubmit)="signin()">
            <div class="form-group row">
              <div class="col-md-6">
                <mat-form-field appearance="standard" hintLabel="Username">
                  <input matInput type="text" class="form-control" formControlName="username" placeholder="Enter your username">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="standard" hintLabel="Password">
                  <input matInput type="password" class="form-control" formControlName="password" placeholder="Enter your password">
                </mat-form-field>
              </div>
            </div>
            <button type="submit" [disabled]="!profileForm.valid" mat-raised-button>Sign In!</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br>
  <br>
</div>
