<h1>
  <p class="text-primary">
    <font size="+3">
      How It Works
    </font>
  </p>
</h1>

<h2>
  <p class=".text-dark">
    <font size="+1">
      *This is a debt calculator meant to allow people to determine what their best future opportunity would be financially. <br> <br>
    </font>
  </p>
</h2>

<h3>
  <p class="text-primary">
    <font size="+2">
      Personal Page: <br>
    </font>
    <p class=".text-dark">
      <font size="+1">
        This page is for collecting information that is generally constant for the user. The main thing you, the user, will do on this page is enter your financial information. <br> <br> <br>
      </font>
    </p>
</h3>

<h4>
  <p class="text-primary">
    <font size="+2">
      Opportunity Comparison Page: <br>
    </font>
      <p class=".text-dark">
        <font size="+1">
        This page is for collecting information that is based on the specific options that the user is considering. <br> <br> <br>
        </font>
      </p>
</h4>

<h5>
  <p class="text-primary">
    <font size="+2">
      Results Page: <br>
    </font>
      <p class=".text-dark">
        <font size="+1">
          This will be the final page seen when using the debt calculator, right after the Opportunities Comparison Page. This page has two main features. First, it will show the user a "Rank of Opportunities" suggesting certain job or school opportunities, listing their expenses and finally ranking them in order of most to least economical using the data from the "Personal Info Page". Second, it will show specific "Graphs of Data" detailing how much debt they will be in during the oncoming months. <br>
    </font>
  </p>
</h5>
