<div class="mdc-typography mdc-typography--body1">
  <div class="cen container-fluid mat-elevation-z2">
    <div class="example-container" style="margin: 0px 50px 20px 50px">
      <h1 class="mdc-typography--headline1" style="text-align: center; margin-top: 10px">How It Works</h1>
      <mat-card class="mat-elevation-z2">
        <mat-card-header>
          <mat-card-title>Profile Page</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class=".text-dark">
            In this first page, the user inputs their financial information that is generally constant. This information can include rent, region, monthly payments, etc. This page is to help us determine your current living situation and what your best future opportunity will be. <br> <br>
          </p>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="mat-elevation-z2">
        <mat-card-header>
          <mat-card-title>Opportunity Comparison Page</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class=".text-dark">
            Then, in this page, you give details about any potential future opportunities such as their type, location, and income. You can list these opportunities in any order and we will be able to rank them using the information you gave us in the Profile Page by comparing financial pros and cons of each one. <br> <br>
          </p>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="mat-elevation-z2">
        <mat-card-header>
          <mat-card-title>Results Page</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class=".text-dark">
            This will be the final page seen when using the debt calculator, right after the Opportunities Comparison Page. This page has two main features. First, it will show the user a "Rank of Opportunities" suggesting certain job or school opportunities, listing their expenses and finally ranking them in order of most to least economical using the data from the "Personal Info Page". Second, it will show specific "Graphs of Data" detailing how much debt they will be in during the oncoming months.
          </p>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="mat-elevation-z2">
           <mat-card-header>
             <mat-card-title>Definitions</mat-card-title>
           </mat-card-header>
           <mat-card-content>
             <p class=".text-dark">
               Purchasing Power: In short, it is the financial ability to buy products and services.
                                 Purchasing power is the value of a currency expressed in terms of the amount of goods or services that one unit of money can buy.
                                 Purchasing power is important because, all else being equal, inflation decreases the amount of goods or services you would be able to purchase.
               <br><br>
               Compound Interest: The addition of interest to the principal sum of a loan or deposit, or in other words, interest on interest.
                                  It is the result of reinvesting interest, rather than paying it out, so that interest in the next period is then earned on the principal sum plus previously accumulated interest.
                                  Compound interest is standard in finance and economics.
                                  Compound Interest = P (1+(r/n))^nt
               <br><br>
               Simple Interest: A = P(1 + rt) where P is the Principal amount of money to be invested at an Interest Rate R% per period for t Number of Time Periods. Where r is in decimal form; r=R/100; r and t are in the same units of time.
                                Compound interest may be contrasted with simple interest, where interest is not added to the principal, so there is no compounding.
                                The simple annual interest rate is the interest amount per period, multiplied by the number of periods per year.
             </p>
           </mat-card-content>
         </mat-card>
      <br>
    </div>
  </div>
  <br>
  <br>
</div>
