<div class="mdc-typography mdc-typography--body1">
  <div class="cen container-fluid mat-elevation-z2">
    <div class="example-container" style="margin: 0px 50px">
      <h1 class="mdc-typography--headline1" style="text-align: center; margin-top: 10px">How It Works</h1>
      <p class=".text-dark">
        This is a debt calculator meant to allow people to determine what their best future opportunity would be financially.
      </p>
      <h2>Personal Page</h2>
      <p class=".text-dark">
        This page is for collecting information that is generally constant for the user. The main thing you, the user, will do on this page is enter your financial information.
      </p>
      <h2>Opportunity Comparison Page</h2>
      <p class=".text-dark">
        This page is for collecting information that is based on the specific options that the user is considering.
      </p>
      <h2>Results Page</h2>
      <p class=".text-dark">
        This will be the final page seen when using the debt calculator, right after the Opportunities Comparison Page. This page has two main features. First, it will show the user a "Rank of Opportunities" suggesting certain job or school opportunities, listing their expenses and finally ranking them in order of most to least economical using the data from the "Personal Info Page". Second, it will show specific "Graphs of Data" detailing how much debt they will be in during the oncoming months.
      </p>
    </div>
  </div>
</div>
