<div class="mdc-typography mdc-typography--body1">
  <div class="cen container-fluid mat-elevation-z2">
    <div class="example-container" style="margin: 0px 50px">
      <h1 class="mdc-typography--headline1" style="text-align: center; margin-top: 10px; margin-bottom: 20px">Account Management</h1>
      <mat-card class="mat-elevation-z2">
        <mat-card-header>
          <mat-card-title>Change Your Username</mat-card-title>
          <mat-card-subtitle>Your current username is: {{updateUsername.oldUsername}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form class="ex1" [formGroup]="userForm" (ngSubmit)="onUsername()">
            <div class="form-group row">
              <div class="col-md-6">
                <mat-form-field appearance="standard" hintLabel="New Username">
                  <input matInput type="text" class="form-control" formControlName="newUsername" placeholder="Enter your new username">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="standard" hintLabel="Password">
                  <input matInput type="password" class="form-control" formControlName="password" placeholder="Enter your password">
                </mat-form-field>
              </div>
            </div>
            <button type="submit" [disabled]="!isValid('user')" mat-raised-button>Update</button>
          </form>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="mat-elevation-z2">
        <mat-card-header>
          <mat-card-title>Change Your Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="ex1" [formGroup]="passwordForm" (ngSubmit)="onPassword()">
            <div class="form-group row">
              <div class="col-md-4">
                <mat-form-field appearance="standard" hintLabel="Old Password">
                  <input matInput type="password" class="form-control" formControlName="oldPassword" placeholder="Enter your old password">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="standard" hintLabel="New Password">
                  <input matInput type="password" class="form-control" formControlName="newPassword" placeholder="Enter your new password">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="standard" hintLabel="Re-enter New Password">
                  <input matInput type="password" class="form-control" formControlName="repeatNewPassword" placeholder="Re-enter your new password">
                </mat-form-field>
              </div>
            </div>
            <button type="submit" [disabled]="!isValid('password')" mat-raised-button>Update</button>
          </form>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="mat-elevation-z2">
        <mat-card-header>
          <mat-card-title>Delete Your Account</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="ex1" [formGroup]="deleteForm" (ngSubmit)="onDelete()">
            <div class="form-group row">
               <div class="col-md-12">
                <mat-form-field appearance="standard" hintLabel="Password">
                  <input matInput type="password" class="form-control" formControlName="password" placeholder="Enter your password to confirm">
                </mat-form-field>
              </div>
            </div>
            <button type="submit" [disabled]="!deleteForm.valid" mat-raised-button>Delete</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br>
  <br>
</div>
